.invoice_container {
   padding: 40px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.invoice_container h3 {
   padding: 30px;
}

.invoice{
   width: 80%;
   margin: auto auto;
   background-color: #cccccc63;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}



.invoice_btn {
   width: 80%;
   margin: auto auto;
   padding: 20px;
}

.company_name {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   width: 80%;
   margin: auto;
}

.company_name h1 {
   color: blue;
   font-weight: 900;
}

.way_bill {
   background-color: black;
   color: white;
}

.purchase_company_info {
   text-align: start;
   width: 80%;
   margin: auto;
   padding: 10px;
}

.purchase_company_info p {
   font-weight: 700;
   padding: 10px 0;
}

.invoice_details {
   align-items: center;
   padding: 20px;
}

.invoice_container ul {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   width: 80%;
   margin: auto;
}

.invoice_container ul li {
   list-style: none;
   text-align: start;
   background: #cccccc5e;
   margin-bottom: 20px;
   justify-content: space-between;
   width: 100%;
}