@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

p {
  /* font-family: "Itim", cursive; */
  font-weight: 400;
}

button {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 10px;
}
