footer {
   padding: 40px;
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

a p {
   color: rgb(116, 116, 116);
}


h3 {
   padding-bottom: 15px;
   font-size: 16px;
}

.logo img {
   width: 150px;
   border-radius: 50%;
}
